* {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body {
    background: #08315E;
}

#bgm{
    display: none;
}

.pageHome {
    overflow: hidden;
    position: relative;
}

.pageHome .background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.musicIO {
    position: absolute;
    z-index: 2;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.startGame, .rules, .prize, .ranking {
    display: block;
}

.rules, .prize, .ranking {
    float: left;
}

.notice {
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
}

