* {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body {
    background: #08315E;
}

.absolute {
    position: absolute;
}

#bgm {
    display: none;
}

.pageHome {
    overflow: hidden;
    position: relative;
}

.background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.musicIO {
    position: absolute;
    z-index: 2;
}

.pageHome .main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pageHome .main .startGame,
.pageHome .main .rules,
.pageHome .main .prize,
.pageHome .main .ranking {
    display: block;
    position: relative;
    z-index: 1;
}

.pageHome .main .rules,
.pageHome .main .prize,
.pageHome .main .ranking {
    float: left;
}

.pageHome .main .notice {
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
}

.pageHome .main .detail {
    transition: opacity 0.5s;
    opacity: 0;
}

